.section-analytics {
  padding: 136px 0 120px;
  position: relative;

  .section-inner {
    position: relative;
  }

  .section-line-ornament {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    margin-top: -20px;
  }
  .label {
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #04104a;
    position: absolute;
    top: 150px;
    left: 0;
    text-transform: uppercase;
    font-size: 16px;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      background: #04104a;
      display: block;
      margin-right: 10px;
    }
  }

  .section-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .section-content {
    width: calc(31% + 150px);
    font-size: 22px;
    margin-right: -150px;

    p {
      letter-spacing: 0.05rem;
      line-height: 1.22;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-aside {
    width: 69%;
    display: flex;
    justify-content: center;
  }

  .slider-images-outer {
    width: 53%;
    position: relative;
    left: -35px;
    padding: 50px 0;
  }

  @media (max-width: 1800px) {
    .section-content {
      width: calc(31%);
      margin-right: 0px;
    }
  }

  @media (max-width: 1200px) {
    .section-content {
      width: 40%;
    }

    .section-aside {
      width: 60%;
    }
  }
}
