.section-analytics {
  padding: 150px 0;
  position: relative;

  .section-inner {
    position: relative;
  }

  .section-line-ornament {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .label {
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #04104a;
    position: absolute;
    top: 100px;
    left: 0;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      background: #04104a;
      display: block;
      margin-right: 10px;
    }
  }

  .section-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .section-content {
    width: calc(45% + 200px);
    margin-right: -200px;
  }

  .section-aside {
    width: 55%;
    display: flex;
    justify-content: center;
  }

  .slider-images-outer {
    width: 37%;
  }
}
