@use "../variables" as *;

.section-feed {
  padding: 69px 0 $spacing-30;
  background: linear-gradient(
    0deg,
    hsla(230, 73%, 35%, 1) 0%,
    hsla(230, 90%, 15%, 1) 100%
  );
  color: $color-white;
  position: relative;

  .section-bg-image {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.3;
  }

  .label {
    padding-left: $spacing-10;
    display: flex;
    align-items: center;
    color: $color-white;
    position: absolute;
    top: 123px;
    left: 0;
    font-size: $font-size-16;
    text-transform: uppercase;

    &:before {
      content: "";
      width: $spacing-30;
      height: 1px;
      background: $color-white;
      display: block;
      margin-right: $spacing-10;
    }
  }

  .section-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .section-content {
    width: 64%;
    padding-right: 200px;
  }
  .section-aside {
    padding-left: 42px;
     width: 36%;
     padding-right: $spacing-50;
    .section-aside-inner {
      top: -$spacing-30;
      padding: $spacing-50 0;
      padding-left: 42px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0%;
        height: 100%;
        padding: 1px;
        border-radius: $border-radius-20;

        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 1),
          rgba(255, 103, 31, 0)
        );

        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        pointer-events: none;
      }

      .section-title { margin-bottom: $spacing-30; }
    }
  }
}
