@use "../variables" as *;

.section-hero {
  background: $color-dark-blue;
  background: radial-gradient(
    circle,
    $color-dark-blue-rgba-100 0%,
    rgba(43, 70, 197, 1) 100%
  );
  color: $color-white;
  min-height: 100vh;
  padding: $spacing-100 0 $spacing-100;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  .shell {
    width: 100%;
  }

  .section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .section-overlay-ornament-top {
    width: 400px;
    height: 400px;
    background: $color-orange;
    filter: blur(200px);
    opacity: 0.9;
    top: 0;
    left: 50%;
    margin-left: -200px;
    margin-top: -300px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .section-overlay-ornament-left {
    width: 400px;
    height: 400px;
    background: $color-orange;
    filter: blur(200px);
    opacity: 0.9;
    top: 60%;
    left: 0;
    margin-left: -300px;
    margin-top: -200px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .section-overlay-ornament-right {
    width: 400px;
    height: 400px;
    background: $color-orange;
    filter: blur(200px);
    opacity: 0.9;
    bottom: 0%;
    left: 100%;
    margin-left: -200px;
    margin-bottom: -200px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .mobile-content {
    display: none;
  }

  .shell {
    position: relative;
    z-index: 3;
  }

  .section-title {
    margin-top: 80px;
    line-height: 1.1;
    font-size: 194px;
    margin-bottom: 57px;

    strong {
      display: flex;
      align-items: center;
      font-weight: 500;

      &:nth-child(2) {
        justify-content: flex-end;

        i {
          width: 139px;
          height: 139px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
        }

        span {
          display: inline-block;
          padding: 0 16px;
        }

        small {
          font-size: $font-size-base;
          width: 50%;
          padding-left: 25px;
        }
      }

      &:nth-child(3) {
        justify-content: flex-end;

        em {
          background: linear-gradient(90deg, #f37023, #ffb589);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent; /* Safari */
        }
      }

      em {
        font-style: normal;
      }
    }
  }

  @media (max-width: $media1800) {
    .section-title {
      font-size: 150px;

      strong {
        &:nth-child(2) {
          small {
            font-size: 20px;
          }
        }
      }
    }
  }

  @media (max-width: $media1200) {
    .section-title {
      font-size: 100px;
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0 100px;
  
      strong:nth-child(2) {
        small {
          font-size: $font-size-20;
        }
        i { 
          width: 100px; height: 100px;
        }
      }
    }
  }

  @media (max-width: $media1024) {
    min-height: auto;
    padding: 150px 0;
    .section-title {
     

      strong:nth-child(2) {
        i {
          width: $spacing-100;
          height: $spacing-100;
        }
        small {
          font-size: $font-size-large;
        }
      }
    }
  }

  @media (max-width: $media768) {
    min-height: auto;

    .mobile-content {
      display: flex;
      align-items: center;
      i {
        height: $spacing-50;
        width: $spacing-50;
        display: block;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      span {
        padding-left: $spacing-20;
        width: calc(100% - #{$spacing-50});
      }
    }

    .section-title {
      font-size: 70px;

      strong:nth-child(2) {
        justify-content: flex-start;
        padding-left: 10%;
        i {
          display: none;
        }
        small {
          display: none;
        }
      }
    }
  }

  @media (max-width: $media480) {
    min-height: auto;

    .section-overlay-ornament-top {
      filter: blur($spacing-100);
      width: 200px;
      height: 200px;
      margin-left: -100px;
      margin-top: -200px;
    }
    .section-overlay-ornament-left {
      filter: blur($spacing-100);
      width: 200px;
      height: 200px;
      margin-left: -100px;
      margin-top: -200px;
    }
    .section-overlay-ornament-right {
      filter: blur($spacing-100);
      width: 200px;
      height: 200px;
      margin-left: -100px;
      margin-top: -200px;
    }

    .mobile-content {
      i {
        display: none;
      }

      span {
        padding-left: 0;
        width: calc(100%);
        text-align: left;
      }
    }

    .section-title {
      font-size: 45px;

      strong:nth-child(2) {
        justify-content: flex-start;
        padding-left: 10%;
        i {
          display: none;
        }
        small {
          display: none;
        }
      }
    }
  }
}
