.section-news {
  padding: 100px 0;
  position: relative;

  .label {
    padding-left: 10px;
    display: flex;
    align-items: center;

    position: absolute;
    top: 200px;
    left: 0;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      background: #04114b;
      display: block;
      margin-right: 10px;
    }
  }
  .section-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-content {
    width: 50%;
  }
  .section-aside {
    width: 39%;
    padding-left: 100px;

    font-size: 24px;

    p{
      font-weight: 500;
    }

    h3 {
      span { 
        color: #FF671F;
      }
    }
  }
}
