@use "../variables" as *;

.section-news {
  padding: 92px 0 $spacing-100;
  position: relative;

  .label {
    padding-left: $spacing-10;
    display: flex;
    align-items: center;

    position: absolute;
    top: 240px;
    left: 0;
    font-size: $font-size-16;
    text-transform: uppercase;

    &:before {
      content: "";
      width: $spacing-30;
      height: 1px;
      background: $color-dark-blue;
      display: block;
      margin-right: $spacing-10;
    }
  }
  .section-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-content {
    width: 44%;
  }
  .section-aside {
    width: 55%;
    padding-left: 200px;

    font-size: $font-size-base;

    p {
      font-weight: 500;
      margin-bottom: 47px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      span {
        color: $color-orange;
      }
    }
  }

  .section-aside-inner {
    padding: 67px 0 67px 94px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 30%;
      left: 0;
      height: 100%;
      padding: 1px;
      border-radius: $border-radius-20;
      z-index: -1;

      background: linear-gradient(
        to right,
        $color-dark-blue-rgba-100,
        rgba(255, 103, 31, 0)
      );

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
    }
  }

  @media screen and (max-width: $media1200) {
    .section-aside {
      padding-left: 100px;
      font-size: inherit;
    }
  }

  @media (max-width: 1400px) {
    .label {
      position: static;
    }
  }
}
