@use "../variables" as *;

.section-service {
  background: $color-dark-blue;
  background: radial-gradient(
    circle,
    $color-dark-blue-rgba-100 0%,
    rgba(43, 70, 197, 1) 100%
  );
  color: $color-white;
  padding: 150px 0 94px;
  position: relative;
  overflow: hidden;

  .section-overlay-ornament-left {
    width: 400px;
    height: 400px;
    background: $color-orange;
    filter: blur(200px);
    opacity: 0.9;
    bottom: 0;
    left: 0;
    margin-left: -300px;
    margin-top: -200px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .section-overlay-ornament-right {
    width: 400px;
    height: 400px;
    background: $color-orange;
    filter: blur(200px);
    opacity: 0.9;
    top: 10%;
    left: 100%;
    margin-left: -200px;
    margin-bottom: -200px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  .label {
    padding-left: $spacing-10;
    display: flex;
    align-items: center;
    color: $color-white;
    position: absolute;
    top: 200px;
    left: 0;
    font-size: $font-size-16;
    text-transform: uppercase;

    &:before {
      content: "";
      width: $spacing-30;
      height: 1px;
      background: $color-white;
      display: block;
      margin-right: $spacing-10;
    }
  }

  .section-head {
    text-align: center;
    padding-bottom: $spacing-50;
    p {
      width: 70%;
      margin: 0 auto;
    }
  }

  .section-foot {
    text-align: center;
  }

  .section-head {
    padding-bottom: $spacing-50;
  }
  @media (max-width: 1400px) {
    .label {
      position: static;
    }
  }

  @media (max-width: 767px) {
    padding: 75px 0;

    .label { display: none; }

    .section-head {
      padding-bottom: 30px;

      .section-title {
        margin-bottom: 30px;
      }
    }
  }
}
