@use "../variables" as *;

.section-testimonials {
  background: $color-dark-blue;
  color: $color-white;
  padding: $spacing-100 0 80px;
  position: relative;

  .shell {
    padding: 0 35px;
  }

  .section-head {
    text-align: center;
    padding-bottom: 33px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 26px;

    p {
      font-weight: 600;
    }
  }

  .section-title {
    margin-bottom: $spacing-40;
  }

  .label {
    padding-left: $spacing-10;
    display: flex;
    align-items: center;
    color: $color-white;
    position: absolute;
    top: 150px;
    left: 0;
    font-size: $font-size-16;
    text-transform: uppercase;

    &:before {
      content: "";
      width: $spacing-30;
      height: 1px;
      background: $color-white;
      display: block;
      margin-right: $spacing-10;
    }
  }

  @media (max-width: 1400px) {
    .label {
      position: static;
    }
  }

  @media (max-width: $media1200) {
    .section-head {
      margin: 0 auto;
      font-size: inherit;
      max-width: 700px;
    }
  }
}
