.section-testimonials {
  background: #04114b;
  color: #fff;
  padding: 100px 0 80px;
  position: relative;

  .shell { padding: 0 35px; }

  .section-head {
    text-align: center;
    padding-bottom: 33px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 26px;

    p {
      font-weight: 600;
    }
  }

  .section-title { margin-bottom: 40px; }

  .label {
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 150px;
    left: 0;
    font-size: 16px;
    text-transform: uppercase;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      background: #fff;
      display: block;
      margin-right: 10px;
    }
  }
}
