@use "variables" as *;

// Responsive styles
@media (max-width: 1024px) {
  .site-header .container {
    flex-direction: column;
    gap: $spacing-md;
  }
  .main-navigation ul {
    flex-direction: column;
    gap: $spacing-xs;
    text-align: center;
  }

  .footer-widgets {
    grid-template-columns: 1fr;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $media576) {
  .container {
    padding: 0 $spacing-sm;
  }
}
