@use "variables" as *;

// Reset and Base Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: $font-family-base;
  font-size: 22px;
  line-height: 1.3;
  color: $color-dark-blue;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 2rem;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}

@media (max-width: 1200px) {
  h1 {
    font-size: $font-size-h4;
  }
  h2 {
    font-size: $font-size-h4;
  }
  h3 {
    font-size: $font-size-h4;
  }
  h4 {
    font-size: $font-size-h4;
  }
}

p {
  margin-bottom: $spacing-sm;
}

a {
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}
