@use "../variables" as *;

.btn {
  display: inline-block;
  padding: $spacing-10 $spacing-30;
  font-size: $font-size-base;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: 1px solid $color-white;
  border-radius: $border-radius-30;
  transition: all $transition-base;
  color: $color-white;

  &:hover {
    text-decoration: none;
    background: $color-white;
  }

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }

  @media screen and (max-width:$media1800) {
    font-size: 20px;
  }

  @media screen and (max-width:$media1200) {
    font-size: 18px;
    padding: 15px $spacing-20;
  }
}

.btn_dark {
  border-color: $color-dark-blue;
  color: $color-dark-blue;
  padding: 15px $spacing-20;
}

.btn_orange {
  background: $color-orange;
  &:hover {
    background: $color-dark-blue;
    color: $color-white;
    
  }
}

.btn_white {
  background: $color-white;
  color: $color-dark-blue;
  padding: 14px $spacing-40;

  &:hover {
    background: $color-dark-blue;
    color: $color-white;
  }
}

.btn-search {
  background: rgba(0, 0, 0, 0);
  width: $spacing-40;
  height: $spacing-40;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg path {
    transition: all $transition-base;
  }
  &:hover svg path {
    stroke: $color-white;
  }
}

.btn-world {
  background: rgba(0, 0, 0, 0);
  width: $spacing-40;
  height: $spacing-40;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg path {
    transition: all $transition-base;
  }
  &:hover svg path {
    stroke: $color-white;
  }
}

.btn-play {
  width: 35px;
  height: 35px;
  border: 1px solid $color-white;
  border-radius: 50%;
  color: $color-white;
  display: block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $color-white;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary;
    color: $color-white;
  }
}

.btn-secondary {
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.btn-large {
  padding: $spacing-sm $spacing-lg;
  font-size: $font-size-large;
}

.btn-small {
  padding: 0.25rem $spacing-sm;
  font-size: $font-size-small;
}
