@use "../variables" as *;

.btn {
  display: inline-block;
  padding: $spacing-xs $spacing-md;
  font-size: $font-size-base;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all $transition-base;
  color: #fff;

  &:hover {
    text-decoration: none;
    background: #fff;
  }

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }
}

.btn_dark {
  border-color: #04114b;
  color: #04114b;
}

.btn_white {
  background: #fff;
  color: #04114b;

  &:hover {
    background: #04114b;
    color: #fff;
  }
}

.btn-play {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary;
    color: $color-white;
  }
}

.btn-secondary {
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.btn-large {
  padding: $spacing-sm $spacing-lg;
  font-size: $font-size-large;
}

.btn-small {
  padding: 0.25rem $spacing-sm;
  font-size: $font-size-small;
}
