@use "../variables" as *;

.form-contact {
  position: relative;

  .form-inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: $spacing-50 0 0;
    margin-bottom: $spacing-20;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 40%;
      left: 0;
      height: 100%;
      padding: 1px;
      border-radius: $border-radius-20;

      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(255, 103, 31, 0)
      );

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 40%;
      right: 0;
      height: 100%;
      padding: 1px;
      border-radius: $border-radius-20;

      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 1),
        rgba(255, 103, 31, 0)
      );

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
    }
  }

  .form-content {
    width: 45%;
    padding: 0 $spacing-50;
    position: relative;
    top: -$spacing-20;

    .label {
      font-size: $font-size-base;
      font-weight: 600;
      margin-bottom: $spacing-30;
    }

    p {
      font-weight: 500;
      font-size: 22px;
      letter-spacing: 0.03rem;
    }
  }
  .form-aside {
    width: 44%;
    padding: 0 $spacing-50;
  }
  .form-foot {
    width: 100%;
    font-size: $font-size-20;

    p {
      &:first-child {
        margin-bottom: 66px;
      }
      &:last-child {
        padding-top: $spacing-20;
      }
    }
  }

  .form-title {
    margin-bottom: $spacing-30;
  }
  .form-title strong {
    font-weight: 600;
  }

  .btn {
    padding: 15px $spacing-40;
    font-size: $font-size-base;
  }

  @media screen and (max-width: $media1200) {
    .form-content {
      width: 50%;
      .label {
        font-size: inherit;
      }
      p {
        font-size: inherit;
      }
    }

    .form-aside {
      width: 50%;
    }

    .form-foot {
      font-size: inherit;
    }

    .btn {
      font-size: inherit;
    }
  }

  @media screen and (max-width: 767px) {
    .form-content {
      width: 100%;
      padding: 0 25px;
    }

    .form-aside {
      width: 100%;
      padding: 0 25px;
    }
    .form-foot p:first-child {
      margin-bottom: 30px;
    }

    .form-inner {
      &::before {
        width: 100%;
      }

      &::after {
        width: 100%;
      }
    }
  }
}
