@use "../variables" as *;

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0 $container-padding;
}

.shell {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 $spacing-50;

  @media (max-width: $media1800) {
    max-width: 1300px;
  }

  @media (max-width: $media1200) {
    padding: 0 $spacing-30;
     max-width: 1100px;
  }
}
