@use "../variables" as *;

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding: 0 $container-padding;
}

.shell {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 50px;
  @media (max-width: 1200px) {
    padding: 0 30px;
  }
}
