@use "../variables" as *;

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"] {
  height: 57px;
  padding: 0 30px;
  border-radius: 50px;
  background: rgba(4, 17, 75, 0.1);
  width: 100%;
  border: 1px solid #04114b;
  color: #04114b;
  font-size: inherit;
  &::placeholder {
    color: #04114b;
  }
}

textarea,
select {
  width: 100%;
  padding: 30px;
  font-size: inherit;

  border: 1px solid #04114b;
  border-radius: 16px;
  background: rgba(4, 17, 75, 0.1);
  color: #04114b;

  &::placeholder {
    color: #04114b;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 2px rgba($color-primary, 0.1);
  }
}

textarea {
  min-height: 150px;
  resize: vertical;
}

label {
  display: block;
  margin-bottom: $spacing-xs;
  font-weight: 500;
  color: $color-text;
}

.search-form {
  display: flex;
  gap: $spacing-xs;
  margin: $spacing-md 0;
}

.search-field {
  flex: 1;
}

.search-submit {
  display: inline-block;
  padding: $spacing-xs $spacing-md;
  font-size: $font-size-base;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all $transition-base;
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary;
    color: $color-white;
    text-decoration: none;
  }
}

.comment-form {
  margin-top: $spacing-lg;
}

.form-row {
  margin-bottom: 30px;
}

.field {
  height: 57px;
  padding: 0 20px;
  border-radius: 50px;
  background: rgba(4, 17, 75, 0.5);
}

.checkbox {
  position: relative;
}
.checkbox {
  input   {
    position: absolute; top: 0; left: -9999px;
    opacity: 0;
    visibility: hidden;
  }
  input:checked + label:after {
      content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
   top: -5px;
      left: 3px;
  }
  label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    user-select: none;
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 1px solid #04114b;
    }
  }
}

button[type="submit"] {
  font-size: inherit;
  cursor: pointer;
}