@use "../variables" as *;

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"] {
  height: 57px;
  padding: 0 $spacing-30;
  border-radius: $border-radius-50;
  background: $color-dark-blue-rgba-10;
  width: 100%;
  border: 1px solid $color-dark-blue;
  color: $color-dark-blue;
  font-size: inherit;
  &::placeholder {
    color: $color-dark-blue;
  }
}

textarea,
select {
  width: 100%;
  padding: $spacing-30;
  font-size: inherit;

  border: 1px solid $color-dark-blue;
  border-radius: $border-radius-16;
  background: $color-dark-blue-rgba-10;
  color: $color-dark-blue;

  &::placeholder {
    color: $color-dark-blue;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 2px rgba($color-primary, 0.1);
  }
}

textarea {
  min-height: 150px;
  resize: vertical;
}

label {
  display: block;
  margin-bottom: $spacing-xs;
  font-weight: 500;
  color: $color-text;
}

.search-form {
  display: flex;
  gap: $spacing-xs;
  margin: $spacing-md 0;
}

.search-field {
  flex: 1;
}

.search-submit {
  display: inline-block;
  padding: $spacing-xs $spacing-md;
  font-size: $font-size-base;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all $transition-base;
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-secondary;
    color: $color-white;
    text-decoration: none;
  }
}

.comment-form {
  margin-top: $spacing-lg;
}

.form-row {
  margin-bottom: $spacing-30;
}

.field {
  height: 57px;
  padding: 0 $spacing-20;
  border-radius: $border-radius-50;
  background: $color-dark-blue-rgba-50;
}

.checkbox {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
  }
  input:checked + label:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -10px;
    left: 3px;
    font-size: $font-size-30;
  }
  label {
    position: relative;
    padding-left: $spacing-40;
    cursor: pointer;
    user-select: none;
    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: $spacing-20;
      height: $spacing-20;
      display: inline-block;
      border: 1px solid $color-dark-blue;
    }
  }

  @media screen and (max-width: 1200px) {
    label:after,
    label:before {
      top: -1px;
    }
  }
}

button[type="submit"] {
  font-size: inherit;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .field {
    height: 40px;
    padding: 0 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"] {
    height: 40px;
    padding: 0 20px;
  }

  textarea,
  select {
    padding: 20px;
  }
}
