@use "../variables" as *;

.site-header {
  padding: 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #fff;

  .shell {
    max-width: 1750px;
  }
}

body.admin-bar .site-header {
  top: 32px;
}

body:not(.page-template-page-home) .site-header {
  background: #04114b;
  color: #fff;
}

.site-header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.site-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;

  a {
    color: $color-text;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.site-description {
  font-size: $font-size-small;
  color: $color-text-light;
  margin: 0;
}

.header-sub-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
