.list-feeds {
  li {
    margin-bottom: 40px;

    div {
      background-color: #04114bcc;
      padding: 40px;
      border-radius: 16px;

      p {
        margin: 0;
      }
    }

    &:nth-child(odd) {
      position: relative;
      left: 150px;
    }
  }

  .name {
    padding-top: 20px;
    display: flex;
    align-items: center;
    i {  margin-right: 10px;}
  }
}
