@use "../variables" as *;

.list-socials {
  margin-left: -$spacing-10;
  display: flex;
  a {
    display: inline-block;
    text-decoration: none;
    color: $color-white;
  }

  li {
    margin: 0 $spacing-10;
  }
}
