@use "../variables" as *;

.list-feeds {
  li {
    margin-bottom: $spacing-40;

    div {
      background-color: #04114bcc;
      padding: $spacing-40;
      border-radius: $border-radius-16;

      p {
        margin: 0;
      }
    }

    &:nth-child(odd) {
      position: relative;
      left: 150px;
    }
  }

  .name {
    padding-top: 48px;
    display: flex;
    align-items: center;
    i {  margin-right: $spacing-10; font-size: 28px; }
  }
}
