@use "../variables" as *;

.main-navigation {
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
  }
  > ul {
    display: flex;
    gap: $spacing-md;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    padding: 0;
    font-size: 20px;

    > li {
      > a {
        padding: 5px 10px;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        transition: color $transition-base;

        &:before {
          position: absolute;
          content: "";
          top: 110%;
          left: 10px;
          height: 2px;
          opacity: 0;
          right: 10px;
          transition: all 0.3s;
          margin-top: -2px;
          background: #fff;
        }

        &:hover:before {
          top: 100%;
          opacity: 1;
        }
      }
    }
  }

  .menu-item-has-children {
    position: relative;

    &:hover > ul {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }

    & > ul {
      position: absolute;
      top: 120%;
      opacity: 0;
      visibility: hidden;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      border-radius: 16px;
      color: #04114b;
      min-width: 200px;
      padding: 10px 5px;
      transition: all 0.3s;

      li {
        a {
          padding: 5px 10px;
          display: block;
          border-radius: 10px;
          transition: all 0.3s;
          &:hover {
            background: #04114b;
            color: #fff;
          }
        }
      }
    }
  }

  &.navigation-large {
    width: 100%;
    order: 3;
    padding: 20px;
  }

  .current_page_item > a:before {
    top: 100%;
    opacity: 1;
  }
}

// Mobile menu toggle
.menu-toggle {
  display: none;
  background: none;
  border: 1px solid $color-border;
  padding: $spacing-xs $spacing-sm;
  cursor: pointer;
  font-size: $font-size-base;

  @media (max-width: $breakpoint-md) {
    display: block;
  }
}
