@use "../variables" as *;

.services {
  display: flex;
  flex-wrap: wrap;
  gap: calc(16.5%);
  justify-content: center;

  & > li {
    width: 22%;
    margin-bottom: $spacing-100;
  }

  @media screen and (max-width: 1024px) {
    gap: calc(20%);
    justify-content: center;

    & > li {
      width: 33%;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    gap: calc(0%);
    justify-content: center;

    & > li {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.service-item {
  position: relative;
  padding: $spacing-20;

  &::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 30%;
    right: 0;
    bottom: 0;
    padding: 1px;
    border-radius: $border-radius-20;

    background: linear-gradient(
      to left,
      rgba(255, 103, 31, 1),
      rgba(255, 103, 31, 0)
    );

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:hover {
    .icon svg path {
      fill: $color-orange;
    }
  }

  .icon {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 35px;
    position: relative;
    left: 7px;
    top: 5px;

    svg {
      path {
        transition: all $transition-base;
      }
    }
  }
  strong {
    display: block;
    min-height: 54px;
    margin-bottom: $spacing-20;
  }

  span {
    margin-bottom: $spacing-20;
    display: block;
    min-height: 44px;
    font-size: 15px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 22px;
  }

  @media screen and (max-width: 1024px) {
    .icon {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .icon {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    strong {
      min-height: 10px;
    }

    span { 
      min-height: 10px;
    }

    &:before { 
       top: 56px;
    }
  }
}
