@use "../variables" as *;

.services {
  display: flex;
  flex-wrap: wrap;
  gap: calc(16.5%);
  justify-content: center;

  & > li {
    width: 22%;
    margin-bottom: 100px;
  }
}

.service-item {
  position: relative;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 30%;
    right: 0;
    bottom: 0;
    padding: 1px;
    border-radius: 20px;

    background: linear-gradient(
      to left,
      rgba(255, 103, 31, 1),
      rgba(255, 103, 31, 0)
    );

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:hover {
    .icon svg path {
      fill: #ff671f;
    }
  }

  .icon {
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 35px;
    position: relative; left: 7px;
    top: 5px;

    svg {
      path {
        transition: all 0.3s;
      }
    }
  }
  strong {
    display: block;
    min-height: 54px;
    margin-bottom: 20px;
  }

  span {
    margin-bottom: 20px;
    display: block;
    min-height: 44px;
    font-size: 15px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 22px;
  }
}
