@use "../variables" as *;

.slider-news {
  padding-top: $spacing-50;
  padding-right: 25px;
  margin-right: -25px;

  .slide {
    padding: 0 $spacing-30;
    h4 {
      font-size: 22px;
      font-weight: 800;
      margin-bottom: $spacing-20;
    }

    p {
      font-size: $font-size-large;
      strong {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }

  .slide-image {
    padding-bottom: 61%;
    background-position: center;
    background-size: cover;
    border-radius: $border-radius-16;
    position: relative;
    margin-bottom: 87px;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      right: -24px;
      left: 50%;
      height: 105%;
      padding: 1px;
      border-radius: $border-radius-20;
      z-index: -1;

      background: linear-gradient(
        to left,
        rgba(255, 103, 31, 1),
        rgba(255, 103, 31, 0)
      );

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
    }

    .slide-image-label {
      background: $color-white;
      text-transform: uppercase;
      position: absolute;
      left: -1px;
      top: $spacing-40;
      padding: 0 $spacing-20;
      border-radius: 0 $border-radius-20 $border-radius-20 0;
      font-weight: 600;
      height: $spacing-30;
      font-size: $font-size-small;
      line-height: $spacing-30;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    width: 33px;
    height: 33px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid $color-dark-blue;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    transition: all $transition-base;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid $color-dark-blue;

      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $color-dark-blue;

      &::before {
        border-left: 8px solid $color-white;
      }
    }
  }

  .slick-prev {
    position: absolute;
    top: 0;
    right: 110px;

    &:before {
      transform: translateY(-50%) rotate(180deg);
      left: $spacing-10;
    }
  }
  .slick-next {
    position: absolute;
    top: 0;
    right: 55px;
  }

  @media screen and (max-width: $media1200) {
    .slide {
      h4 {
        font-size: inherit;
      }

      p {
        font-size: inherit;
        strong {
          font-weight: 600;
          font-size: inherit;
        }
      }
    }
  }

   @media screen and (max-width: 767px) {
    margin: 0 -25px;
    .slide-image {
      margin-bottom: 60px;

      &::before {
        height: 100%;
        top: 30px;
        border-radius: 16px;
      }
    }
  }
}
