@use "../variables" as *;

.testimonial-slider {
  padding-top: 50px;
  .slide {
    padding: 0 20px;

    .slide-inner {
      position: relative;
      padding: 40px 60px;
      margin-bottom: 30px;
      text-align: center;

      svg:first-child {
        position: absolute;
        top: 20px;
        left: 30px;
      }

      svg:last-child {
        position: absolute;
        bottom: 20px;
        right: 30px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 30%;
        height: 100%;
        padding: 1px;
        border-radius: 20px;
        z-index: -1;

        background: linear-gradient(
          to left,
          rgba(255, 103, 31, 1),
          rgba(255, 103, 31, 0)
        );

        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        pointer-events: none;
      }

      p {
        margin: 0;
      }
    }

    .slide-bottom {
      text-align: center;
      img {
        display: inline-block;
      }
      .sup-p {
        max-width: 300px;
        margin: 0 auto 20px;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    width: 33px;
    height: 33px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid    rgba(255, 103, 31, 1),;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    transition: all 0.3s;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid    rgba(255, 103, 31, 1),;

      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: #04114b;

      &::before {
        border-left: 8px solid #fff;
      }
    }
  }

  .slick-prev {
    position: absolute;
    top: 0;
    right: 70px;

    &:before {
      transform: translateY(-50%) rotate(180deg);
      left: 10px;
    }
  }
  .slick-next {
    position: absolute;
    top: 0;
    right: 20px;
  }
}
