@use "../variables" as *;

.testimonial-slider {
  font-size: 26px;
  font-weight: 500;
  padding-top: $spacing-50;
  .slide {
    padding: 0 $spacing-20;

    .slide-inner {
      position: relative;
      padding: 45px 80px;
      margin-bottom: $spacing-20;
      text-align: center;
      letter-spacing: 0.2rem;

      svg:first-child {
        position: absolute;
        top: $spacing-20;
        left: 42px;
      }

      svg:last-child {
        position: absolute;
        bottom: $spacing-20;
        right: $spacing-30;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 30%;
        height: 100%;
        padding: 1px;
        border-radius: $border-radius-20;
        z-index: -1;

        background: linear-gradient(
          to left,
          rgba(255, 103, 31, 1),
          rgba(255, 103, 31, 0)
        );

        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        pointer-events: none;
      }

      p {
        margin: 0;
      }
    }

    .slide-bottom {
      text-align: center;
      font-size: $font-size-20;
      img {
        display: inline-block;
      }
      .sup-p {
        max-width: 300px;
        margin: 0 auto $spacing-20;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    width: 33px;
    height: 33px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 103, 31, 1);
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    transition: all $transition-base;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid rgba(255, 103, 31, 1);

      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $color-dark-blue;

      &::before {
        border-left: 8px solid $color-white;
      }
    }
  }

  .slick-prev {
    position: absolute;
    top: 0;
    right: 70px;

    &:before {
      transform: translateY(-50%) rotate(180deg);
      left: $spacing-10;
    }
  }
  .slick-next {
    position: absolute;
    top: 0;
    right: $spacing-20;
  }
}
