@use "../variables" as *;

.slider-images {
  margin: 0 -10px;
  text-align: center;
  .slide-inner {
    text-align: center;
  }

  .slide {
    padding: 0 10px;

    img {
      display: inline-block;
    }
  }

  h6 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 56px;
  }

  .slick-dots {
    display: flex;
    padding-top: 50px;
    justify-content: center;

    li {
      opacity: 0.5;
      margin: 0 15px;

      &.slick-active {
        opacity: 1;
      }

      button {
        width: 24px;
        height: 24px;
        border: 0;
        background: none;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
